div{
    border: 1px solid;
    border-radius: 1em;
    margin: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin: 20px;
    font-size: medium;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
textarea{
    margin-top: 10px;
    padding: 10px;
}
button{ 
      width: 100px;
    padding: 5px;
    margin: 20px;
    border: none;
    background-color: rgb(146, 195, 216);
    border-radius: 5px;
    cursor: pointer;
}
