.login{
    width: 340px;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid ;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.88);
    
}
.h{
    display: flex;
    align-items:center;
    margin-bottom: 12px;
}
.h label{
    width: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h input{
    flex: 1;
    padding: 3px;
}
.h input.error{
    border: 1px solid red;
}
button{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgb(146, 195, 216);
    border-radius: 5px;
    cursor: pointer;
}