div{
    background-color:rgb(146, 195, 216);
    border-radius: 0.5em;
    padding: 10px 25px;
    margin: 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-15%);
} 