.wlc{
    background-color:rgb(71, 127, 182);
    border-radius: 0.5em;
    padding: 10px 25px;
    margin: 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    text-align: center;
}
nav{
    background: color #f5f5f5;
    border-radius: 1em;
    border:1px solid #0e0b0b;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav a{
    flex:1;
    text-decoration: none;
    color:rgb(12, 21, 21);
    text-align: center;
    padding:6px 10px;
    margin:0 5px;
    border-radius: 4em;
    font-size: larger;
    transition:0.2s;
}
nav a:hover{
    background-color: rgb(146, 195, 216);
    color: rgb(17, 13, 13);
}
