nav{
    background: color #f5f5f5;
    padding:10px 15px;
    border-radius: 6em;
    border:1px solid #0e0b0b;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    flex:1;
    text-decoration: none;
    color:cadetblue;
    text-align: center;
    padding:6px 10px;
    margin:0 5px;
    border-radius: 4em;
    font-size: larger;
    transition:0.2s;
}
nav a:hover{
    background-color: cadetblue;
    color: black;
}